runpod
diffusers
transformers
huggingface_hub
accelerate
protobuf
sentencepiece

# Nunchaku 4-bit inference 엔진 설치
nunchaku @ https://huggingface.co/mit-han-lab/nunchaku/resolve/main/nunchaku-0.3.0+torch2.6-cp311-cp311-linux_x86_64.whl
